# Compiled files
obj/*.o
vox_render
vox_render.exe

# Blender files
*.obj
scene.xml
palette.png

# Assets
meshes/
skyboxes/
castle.vox

# Screenshots
screenshot_*.png

# Misc
.vscode/
village.schem

# Map folders
SV_Test/
Water Test/
hub_carib_sandbox/
cullington_sandbox/
