.vscode/
obj/*.o
vox_render
vox_render.exe

meshes/
trains/
screenshot_*.png

Water Test/
castle.vox
caveisland_sandbox/
csgo_de_train/
heistexample/
hub_carib_sandbox/
lee_sandbox/
marina_sandbox/
minecraft/
vehicles/
